<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="StockDB" connectionString="Data Source=192.168.10.180;Initial Catalog=StockDB;User ID=test;Password=test;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>